extends layout

block content
  h1 Wildmile
  p.lead Collecting and sharing data about the Wildmile project.
  hr
  .row
    .col-md-6
      h2 Plants
      p See the plants in the wildmile
      p
        a.btn.btn-raised(href='/plant', role='button') View details »
    .col-md-6
      h2 Plant planning
      p See information about the plant counts within the Wild Mile
      p
        a.btn.btn-raised(href='/plantHome', role='button') View details »
    .col-md-6
      h2 Log the trash
      p Use this page to log trash and see trash monitoring stats
      p
        a.btn.btn-raised(href='/trash', role='button') View details »
    .col-md-6
      h2 View Plant Map
      p Use this page to view a map of the plants
      p
        a.btn.btn-raised(href='/modmap', role='button') View details »
