extends layout

block content
  h1 Wildmile
  p.lead Collecting and sharing data about the Wildmile project.
  hr
  .row
    .col-md-6
      h2 Plants
      p See the plants list for the wildmile
      p
        a.btn.btn-primary(href='/plants', role='button') 
          fa.fa-clipboard-list
          | Plant List
    .col-md-6
      h2 Plant planning
      p See information about the plant counts within the Wild Mile
      p
        a.btn.btn-primary(href='/plantHome', role='button') 
          fa.fa-seedling
          | Plant Planning
    .col-md-6
      h2 Log the trash
      p Use this page to log trash and see trash monitoring stats
      p
        a.btn.btn-primary(href='/trash', role='button') 
          i.fas.fa-trash
          | Trash
    .col-md-6
      h2 View Plant Map
      p Use this page to view a map of the plants
      p
        a.btn.btn-primary(href='/modmap', role='button')
          i.fas.fa-map 
          | Map
