# Secrets like the one below should go into `.env.local` instead to avoid pushing
# them to a repository, this is an exception for the sake of the example
TOKEN_SECRET="this-is-a-secret-value-with-at-least-32-characters"
MONGODB_URI=mongodb://localhost:27017/test 
NODE_ENV=dev
NEXT_PUBLIC_MAPBOX_KEY='mapbox-key'
PLANTS_TREFLE_TOKEN='trefle-token'
RESEND_API_KEY=resend-api-key
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
INATURALIST_API_KEY=