extends ../layout

block content
  h3 New Project
  form(id='newProject', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .row.col-sm
      .form-group.col-sm
        label(for='name') Name
        textarea.form-control( rows='1' id='name' name='name')
    .row.col-sm
      .form-group.col-sm
        label(for='dateInstalled') Date
        input.form-control(type='date' id='dateInstalled' name='dateInstalled')
    .row.col-sm
      .form-group.col-sm
        label(for='notes') Notes
        textarea.form-control( rows='2' id='notes' name='notes')
    .row.col-lg
      .form-group.col-sm
        button.btn.btn-success(type='submit')
          i.fas.fa-plus.fa-sm
          | Submit