footer
  .container.text-center
    p.float-left &copy; 2020 Urban Rivers, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://www.urbanriv.org/') Urban Rivers
